name: release

on:
  push:
    tags: ["v*"]
  workflow_dispatch:

concurrency:
  group: release

permissions:
  contents: read
  packages: write

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@9403d0dfcf502d313c961c27aedb0fe695497a0b # v1.19.0

      - name: Check
        run: nix flake check

  release:
    needs: check
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        id: checkout
        uses: spotdemo4/better-checkout@47df133e9f043cd08660fed5a09b6c20232ce909 # v0.2.0
        with:
          app-id: ${{ vars.CLIENT_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          fetch-depth: 0

      - name: Release
        uses: spotdemo4/nix-flake-release@e7814fec80ae8a9c537aca77715a614eeaf1b111 # v0.9.3
        with:
          github_token: ${{ steps.checkout.outputs.token }}
